@mixin imgProductSize {
  width: 100%;
  height: auto;
}

//header
.hotline {
  .icon {
    em {
      vertical-align: middle;
    }
  }
}

//box products
.box {
  .box-header {
    margin-bottom: 20px;

    h2 {
      margin: 0;
    }
  }

  .box-content {
    .columns-3 ul.products {
      li.product {
        width: 32%;
        margin-right: 2%;
        margin-bottom: 15px;

        img {
          @include imgProductSize;
        }

        h3 {
          margin-bottom: 10px;
          font-size: 16px;
          font-weight: 400;
          max-height: 40px;
          color: black;
        }

        .price {
          ins {
            font-size: 18px;
            color: #ee2d24;
            font-weight: 700;
            text-decoration: none;
          }

          del {
            font-size: 14px;
          }

          .amount {
            font-size: 16px;
          }
        }
      }
    }
  }
}

//breadcumb
.pathpage {
  .breadcrumb {
    background: none;
    margin: 0;
    padding-left: 0;

    a {
      color: black;

      &:hover {
        text-decoration: none;
        color: #b70100;
      }

      &:first-of-type:before {
        display: inline-block;
        font-size: inherit;
        -webkit-font-smoothing: antialiased;
        content: "\f015";
        margin-right: .5407911001em;
        font: normal normal normal 1em/1 FontAwesome;
      }
    }
  }
}

//sort
.storefront-sorting {
  .gridlist-toggle {
    float: right;
    clear: initial;
    padding: 0 !important;
  }
}

ul.products {
  li.product {
    img {
      @include imgProductSize;
    }
  }
}